html, body {
    background: #f4f4f4;
    height: 100%;
}

@font-face {
    font-family: Barrio;
    src: url(../fonts/Barrio-Regular.ttf);
    font-weight: normal;
}

.zwitscher {
    font-family: 'Barrio';
}

.nav {
    border-bottom: #ccc 1px solid;
}

.sign-panel {
    max-width: 500px;
    margin: 2em auto 0 auto;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 1em;
    }
}

.sign-bar {
    flex-grow: 1;
    margin-top: 2em;
}

.sign-bar .button {
    float: right;
}

.sign-panel .panel-block {
    background: #fff;
}

.sign-panel form,
.sign-panel .panel-block > .notification {
    flex-grow: 1;
}

.mr-15 { margin-right: 15px !important }

.zwitscher-signin {
    display: flex;
    flex-direction: column;
}

.zwitscher-signin .flex-wrap {
    width: 100%;
    flex-grow: 1;
    /*background: linear-gradient(135deg, #8e44ad, #c0392b);*/
    background: linear-gradient(135deg, #00d1b2, #009E86);
}

.zwitscher-signin .nav {
    flex-grow: 0;
}

.zwitscher-signin .container {
    overflow: hidden;
}

.mt-2em { margin-top: 2em !important; }

blockquote {
    font-style: italic;
}

.dashboard-container {
    max-width: 790px;
    margin: 2em auto;
    overflow: hidden;
    padding: 1em;
}

.dashboard-panel {
    margin-top: 2em;
}

.dashboard-panel .panel-block {
    background: #fff;
}

.dashboard .card-content {
    padding: 15px 10px;
}

.dashboard .card-content .title:not(:last-child) {
    margin-bottom: 15px;
}

#say-box {
    margin-bottom: 1em;
    height: 90px;
    max-height: 90px;
    min-height: 10px;
    border-radius: 0;
}

#submit {
    min-width: 100px;
}

#count {
    opacity: 0.8;
    font-size: 0.8em;
}

.dashboard .box {
    border-radius: 0;
}

.tweet-box time {
    font-size: 0.6em;
    display: inline-block;
    margin-left: 1em;
}

.box-actions {
    text-align: right;
}

.box-actions button {
    font-size: 0.8em;
    text-decoration: none !important;
}

form {
    margin: 0;
}
